/* All this css is custom by AGP */
.custom-switch-indicator {
  cursor: pointer;
}

.custom-switch {
  padding-left: 0px;
}

button.close span {
  display: none;
}

::-webkit-scrollbar {
  width: 0.8rem;
  background: lightgray;
  border: 1px solid lightgray;
}
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.accountForm textarea[name="note"] {
  resize: none;
}

.accountForm .type .selectgroup-button {
  padding: 3px 0px;
}

.drp-calendar .weekend {
  color: red !important;
}

.drp-calendar .today {
  background-color: #f1b356 !important;
}

.field-amount .input {
  text-align: end;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.coloredForm .selectgroup-button{
  border: 1px solid white;
  color: white;
  z-index: 0;
}
.coloredForm .selectgroup-input:checked + .selectgroup-button{
  color: #354052;
  border: 1px solid white;
  background: white;
  z-index: 0;
}

.accountAlertForm .selectgroup-button{
  border: 1px solid white;
  color: white;
  z-index: 0;
}
.accountAlertForm .selectgroup-input:checked + .selectgroup-button{
  color: #354052;
  border: 1px solid white;
  background: white;
  z-index: 0;
}
.accountAlertForm .selectgroup-input:checked + .selectgroup-button .fa-check{
  color: #239201;
}
.accountAlertForm .selectgroup-input:checked + .selectgroup-button .fa-times{
  color: #920601;
}

.graphsAccounts .selectgroup-button {
  border: 1px solid #6e768736;
  color: #6e7687a1;
}
.graphsAccounts .selectgroup-input:checked + .selectgroup-button {
  color: #354052;
  border: 1px solid #6e768793;
  background: white;
  z-index: 0;
}
.form-buttons .btn {
  width: 120px;
}

.account-record-total .btn {
  width: 100px;
}

.form-control {
  border-color: #cccccc;
  min-height: 38px;
}

img.thumbnail {
  width: 48px !important;
  height: 48px !important;
  padding: 0px !important;
}

.image_picker .responsive.selected .checked .icon {
  width: 25px !important;
  height: 25px !important;
}
.image_picker .selected {
  opacity: 1;
}
.image_picker .responsive {
  margin: 0 5px !important;
}
.image_picker .responsive.selected .thumbnail {
  border: 2px solid #6ce679;
}
.nav-link {
  width: 100%;
}
.forced-row {
  flex-direction: row !important;
}
/* @media (max-width: 768px) {
  .header.d-md-flex.p-0 {
    position: fixed;
     top: 0;
    z-index: 999;
    height: 100%;
    width: 70%;
    max-width: 200px;
  }
} */
.settings-menu h1 {
  margin-bottom: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: #354052;
}
.settings-menu h2 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 1rem;
}
.settings-menu a {
  padding: 0.5rem 2rem;
  display: block;
  color: #354052;
}

.settings-menu li {
  margin: 0.7rem 0;
  padding: 0;
}
.settings-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}
.card-collapsed .card-options-collapse i:before {
  content: "\f078";
}

@media (min-width: 768px) {
  .modal-dialog.recordsForm {
    max-width: 835px;
  }

  .container {
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

input[type=file].with-image{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 367px;
}

input[type=file] .mid-form{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 221px;
}

.dropdown-item.d-flex div{
    max-width: 100px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
  z-index: 1;
}
table .positive {
  color: green;
  font-weight: 600;
}

table .negative {
  color: red;
  font-weight: 600;
}

table .zero {
  font-weight: 600;
}
.table_balance{
  background-color: rgba(255, 123, 0, 0.5)!important; 
  color: black;
}
.table_balance:hover, .table_balance:hover .positive , .table_balance:hover .negative  { 
  background-color: rgb(255, 123, 0)!important; 
  color: rgb(255, 255, 255, 1);
}

.table_category { 
  background-color: rgba( 0, 0, 255, 0.2)!important; 
  color: black;
}
.table_category:hover, .table_category:hover .positive , .table_category:hover .negative  { 
  background-color: rgba( 0, 0, 255)!important; 
  color: rgb(255, 255, 255);
}

.table_concept { 
  background-color: rgba(154, 154, 192, 0.2)!important; 
  color: black;
}
.table_concept:hover, .table_concept:hover .positive , .table_concept:hover .negative  { 
  background-color: rgba( 154, 154, 192)!important; 
  color: rgb(255, 255, 255);
} 

.detailsTable td, .detailsTable th {
  cursor: pointer;
  padding: 10px;
  position: relative;
}


.date-picker-row-date{
  width: 180px;
}
.date-picker-row-date-half{
  width: 90px;
}
.table_fixed_width{
  min-width: 100px;
}

.wrapped{
  width: 100%;
  text-align: center;
  overflow: scroll;
  margin-bottom: 50px;
  max-height: 700px;
}
body *::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
body *::-webkit-scrollbar-thumb {
  background: #ffffff;
}

table.analysis-table {
  border-collapse: collapse;
  background-color: unset;
  border-radius: 10px;
  border-style: hidden; 
  box-shadow: 0 0 0 1px black; 
} 

.analysis-table td, .analysis-table th {
  border: 1px solid black;
}

.analysis-table  td, .analysis-table  th {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Not working, can't overwrite the background color of .card and div.card */
div.card .analysis-table  td:hover::after { 
  background-color: rgb(226, 226, 226);
  content: '\00a0';  
  height: 10000px;    
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;        
}

/* Highcharts table styles */
.highcharts-data-table{
  overflow: auto;
  max-height: 400px;
}
.highcharts-data-table table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
  min-width: 100%;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 0.9em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  /* border: 1px solid silver; */
  padding: 0.5em;
}

.highcharts-data-table th {
text-align: center;	
}

.highcharts-data-table td {
text-align: center;
}

.highcharts-data-table tr:nth-child(even), .highcharts-data-table thead tr {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #CCCCCC;
}
/* .highcharts-data-table caption {
  border-bottom: none;
  font-size: 1.3em;
  font-weight: bold;
color: #000000 !important;
text-align: center;
} */