body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 3px;
}
.alert.alert-login {
  position: absolute;
  width: 100%;
}
.alert-login {
  color: #7d6608;
  background-color: #fcf3cf;
  border-color: #fbeebc;
}
.alert-warning {
  color: #7d6608;
  background-color: #fcf3cf;
  border-color: #fbeebc;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-login hr {
  border-top-color: #fae8a4;
}

.alert-login .alert-link {
  color: #4d3f05;
}
